apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-nfbbkcbi
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-nfbbkcbi:4016c6550a0cb949559c1bfccfec99467f01dfde@sha256:14a4d4d3ddc68ab46834dc853688131d59aff20e430303f161dec1527cd02cd9
          name: container-image
